    <div class = "container">
      <div class="row mt-3">
         <div class="col-12 border ">
              <div class ="d-flex justify-content-between">
               <h1><%= @post.title %> by <%= @post.user.name %></h1>
            <div class ="d-flex flex-row-reverse">
                <p class="text-end p-2">likes: <%= @post.likes_counter %></p>
                <p class="text-end p-2">comments: <%= @post.comments_counter %></p>
            </div>
          </div>
            <p><%= @post.text %></p>
      </div>
      <div class ="text-end m-2 p-2">
      <% if can? :manage, @post %>
           <%= button_to  'Delete Post', destroy_post_path(user_id: @post.user.id, id: @post.id), method: :delete, class: "btn btn-primary"%>
      <% end %>
      </div>
      <% @comments.each do |comment| %>
      <div class="row mt-3">
          <div class="col-12">
                <%if comment.user%>
              <p><%=  comment.user.name %>: <%= comment.text %></p>
              <%end%>
          </div>
      </div>
      <% end %>

    </div>
